/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: url("./Assets/blurry-gradient.svg");
  background-size: cover;
  font-family: 'Raleway', sans-serif;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* css reset end*/





.wrapper {
    display: table;
    padding: 0;
    width: 100%;
    height: 96vh;
    position: absolute;
 }
 .container {
    display: table-cell;
    vertical-align: middle;
 }
 .canvas-container {
    position: relative;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
 }
 #main {
    width: 100%;
    height: 80vh;
    background-color: #F9F6EE;
 }



 /* overlay */
.upperpart{
    width: 100%;
    height: 45vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: 
    /* linear-gradient(45deg, rgba(25, 155, 236, 0.62), rgba(234, 71, 125, 0.849)),  */
    url(
'Assets/piano-background.png');
    background-size: 50% 75vh;   
}
.heading{
    color: white;
    padding-bottom: 20px;
    font-size: 2.5rem;

}
 .overlay-container{
    /* border: 2px solid; */
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
 
}
h2{
    background-color: rgb(214, 213, 213);
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding: 5px;
    margin-top: 10px;
}
button{
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.easy{
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #13f24b;
    transition: ease-out 0.3s;
    font-size: 1.5rem;
    outline: none;
}
.easy:hover{
    box-shadow: inset 300px 0 0 0 #13f24b;
    cursor: pointer;
    color: black;
}
.medium{
    /* border: none; */
    /* width: 500px; */
    color: black;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgb(255, 179, 37);
    transition: ease-out 0.3s;
    font-size: 1.5rem;
    outline: none;
}
.medium:hover{
    box-shadow: inset 300px 0 0 0 rgb(249, 179, 50);
    cursor: pointer;
    color: black;
}
.hard{
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 red;
    transition: ease-out 0.3s;
    font-size: 1.5rem;
    outline: none;
}
.hard:hover{
    box-shadow: inset 300px 0 0 0 red;
    cursor: pointer;
    color: black;
}



    #overlay {
        position: fixed;
        height: 96vh;
        width: 100vw;
        top:0;
        left:0%;
        background-color: black;
        /* opacity: 0.5; */
        z-index: 2;
        cursor: pointer;

        /* display: none; */
       
    }
    

/* modal */

    .modal{
        background-color: rgb(21, 23, 24);
        border-radius: 10px;
        border-color: white;
        text-align: center;
        overflow-x: hidden;
    }
    
    .img{
        width: 100%;
        min-width: 30%; 
        text-align: center;
        border-radius: 10px;
    }
    .score{
        font-size: 20px;
        font-weight: 700;
        color: white;
    }
    
    .try{
       
        border-radius: 10px;
        background-color: rgb(8, 30, 78);
        color: antiquewhite;
        border-color: none;
        cursor: pointer;
        padding: 1rem 1rem;
        font-size: 1em;
        max-width: 60%;
    }

    #open-modal {
        display: none;
    }




.header{
    display: flex;
    justify-content: space-between;

    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    font-size: 2rem;
    padding: 1.5 rem;
    margin-top: 0;
    background-color: #3e474f;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 5px;

}

@media only screen and (max-width: 600px) {
    html {
        font-size: 0.6rem;
    }
    .img {
        height: 100px;
    }
    
}